$main:tomato;
$secondary:#d867d8;
$text-first:#232323;
$text-second:#7A7A7A;
$white:#fff;
$gray:#e8e8e8;
$dark-gradient:linear-gradient(90deg, rgba(0,0,0,.6) 100%, rgba(0,0,0,.8) 100%);
$btn-gradient:linear-gradient(130deg, $main 93%,transparent 90%);
$btn-gradient-light:linear-gradient(130deg, $gray 93%,transparent 90%);
$btn-gradient-secondary:linear-gradient(130deg, $secondary 93%,transparent 90%);